<!-- The new page and route is reserved for the form where you enter information for a new record -->

<h1>New Article</h1>

<%= render partial: 'form' %>

<p><%= link_to "Home", articles_path %></p>
