<h1>Tags</h1>

<p>
	<% if Tag.all.xcount == 0 %> There are no tags to display. Add some tags to an artice to continue. <% end %>
	<ul>
		<% @tags.each do |tag| %>
			<li><%= link_to tag.name, tag_path(tag) %> (<%= tag.articles.count %>)</i>
		<% end %>
	</ul>
</p>

<br>
<br>
<br>
<%= link_to "Home", articles_path %>
